:root {
  --logo-color:#90EE90;
}

.bolded {
  color: var(--logo-color)
}
 
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  font-size: large;
  bottom: 32px;
  right: 64px;
}


/* CSS inspired by: https://github.com/ntamas/react-cover-page. */

.cover-image-1 {
  background-image: url('.././static/g1.png');
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.cover-image-2 {
  background-image: url('.././static/g2.png');
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.cover-image-3 {
  background-image: url('.././static/g3.png');
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.centered-card {
  position: absolute;
  width: 600px;
  height: 500px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -300px;
}
