:root {
    --logo-color:#90EE90;
}

.store-info-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cropped-image {
	display: block;
	min-width: 270px;
	height: 350px;
	object-fit: cover;
    border-radius: 10px;
}

.instance-icon {
    font-size: 20px;
    color: var(--logo-color)
}
