.itemcard {
    border-radius: 10px;
    padding: 20px;
    transition: transform .2s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemcard:hover {
    transform: translate(0, -5px);
}

.cropped-image {
	display: block;
	min-width: 150px;
	height: 270px;
	object-fit: cover;
    border-radius: 10px;
}

